:root {
  --mainColor: #BB2525;
  --secondColor: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif,sans-serif;
}
a {
  text-decoration: none;
}
button {
  background-color: var(--mainColor, #BB2525);
  padding: 12px 18px;
  border: none;
  color: var(--secondColor, #fff);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
section {
  padding-top: 70px;
  padding-bottom: 70px;
}
.container2 {
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container2 {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container2 {
    width: 930px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container2 {
    width: 1140px;
  }
}
/* ####################### start header ####################### */
#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: satisfy,sans-serif;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #header {
    position: static;
  }
}
#header .container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #header .container2 {
    padding-top: 0px;
    padding-bottom: 0px;
    flex-wrap: nowrap;
  }
}
#header .container2 label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #header .container2 label {
    display: none;
  }
}
#header .container2 nav {
  width: 100%;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #header .container2 nav {
    width: auto;
  }
}
#header .container2 nav a:first-of-type {
  margin-top: 25px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #header .container2 nav a:first-of-type {
    margin-top: 0px;
  }
}
#header .container2 nav a {
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #000;
  border-bottom: thin dotted var(--secondColor, #fff);
  background-color: var(--mainColor, #BB2525);
}
#header .container2 nav a:last-of-type {
  border-color: transparent;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #header .container2 nav a {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    border-bottom: none;
    background-color: var(--secondColor, #fff);
  }
}
#menuControl {
  display: none;
}
#menuControl+nav ,#header .container2 .part3 {
  display: none;
}
#menuControl:checked+nav {
  display: block;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #menuControl+nav ,#header .container2 .part3 {
    display: block;
  }
}
#header .container2 .part3 > button:first-child {
  margin-right: 10px;
}
#header .container2 #nav-lan {
  font-size: 9px;
}
#header .container2 div i {
  cursor: pointer;
  padding: 5px;
}
/* ####################### end header ####################### */
/* ####################### start landing ####################### */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #landing .container2 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
}
#landing .container2 .landing-info {
  padding-top: 70px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #landing .container2 .landing-info {
    padding-top: 0px;
  }
}
#landing .container2 .landing-info h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
#landing .container2 .landing-info p {
  margin-bottom: 20px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #landing .container2 .landing-info h1 {
    font-size: 64px;
  }
}
#landing .container2 .landing-info span {
  margin-left: 15px;
  color: var(--mainColor,#BB2525);
}
#landing .container2 .landing-photo {
  display: none;
  max-width: 550px;
}
#landing .container2 .landing-photo img ,
#follow .container2 .cards article img ,
#top-rated .container2 .box-card article img {
  max-width: 100%;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #landing .container2 .landing-photo {
    display: block;
  }
}
/* ####################### end landing ####################### */
/* ####################### start follow ####################### */
#follow {
background-color: #000000;
color: var(--secondColor,#fff);
}
#follow .container2 h2 ,
#training .container2 h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #follow .container2 .cards {
    display: flex;
    justify-content: space-between;
  }
}
#follow .container2 .cards article {
  text-align: center;
  max-width: 315px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #follow .container2 .cards article > img {
    margin-bottom: 30px;
  }
}
#follow .container2 .cards article .follow-card-description {
  background-color: #D9D9D912;
  box-shadow: 0px 1px 3px 2px #52525212;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #follow .container2 .cards article .follow-card-description {
    border-radius: 17px;
  }
}
#follow .container2 .cards article .follow-card-description .text {
  text-align: left;
  margin-left: 10px;
}
#follow .container2 .cards article .follow-card-description h3 ,
#journey .container2 .box-card .card2 h3 {
  font-size: 18px;
}
#follow .container2 .cards article .follow-card-description p {
  font-size: 11px;
  font-weight: 400;
}
#follow .container2 .cards article .follow-icon {
  width: 130px;
  padding: 13px 14px;
  border: 1px solid #242424;
  background-color: #242424;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}
/* ####################### end follow ####################### */

/* ####################### start training ####################### */
#training {
  text-align: center;
}
#training .container2 h2 ,
#training .container2 .training-box-card ,
#journey .container2 h2 ,
#journey .container2 .box-card {
  margin-bottom: 30px;
}
#training .container2 .training-box-card {
  text-align: left;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #training .container2 .training-box-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
  }
}
#training .container2 .training-box-card .card2 {
  margin-bottom: 25px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #training .container2 .training-box-card .card2 {
    margin-bottom: 0px;
  }
}
#training .container2 .training-box-card article {
  background-color: #EFEFEF;
  margin-top: 10px;
  padding: 12px 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#training .container2 .training-box-card article h3 {
  margin-bottom: 30px;
}
/* ####################### end training ####################### */
/* ####################### start journey ####################### */
#journey {
  background-color: #000;
  color: var(--secondColor,#FFF);
  text-align: center;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #journey .container2 .box-card {
    display: flex;
    justify-content: space-between;
  }
}
#journey .container2 .box-card .card2 {
  text-align: left;
  border: 2px solid #202020;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 250px;
  position: relative;
  padding: 15px 16px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #journey .container2 .box-card .card2 {
    margin-bottom: 30px;
  }
}
#journey .container2 .box-card .card2 .ribbon {
  background-color: #BB2525;
  position: relative;
  top: -20px;
  left: -15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: fit-content;
  padding: 3px 12px 3px 20px;
}
#journey .container2 .box-card .card2 .ribbon::before {
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  top: -40%;
  left: -20px;
  -webkit-transform: rotate(-142deg);
  -moz-transform: rotate(-142deg);
  transform: rotate(-142deg);
  background-color: #000;
}
#journey .container2 .box-card .card2 p {
  font-size: 14px;
  font-weight: 400;
  color: #B2B2B2;
}
/* ####################### end journey ####################### */
/* ####################### start top-rated ####################### */
#top-rated .container2 h2 {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #top-rated .container2 h2 {
    text-align: left;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #top-rated .container2 .box-card {
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  #top-rated .container2 .box-card .moving-part {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 20px;
    cursor: pointer;
    animation: slide-in 1s ease-in-out infinite;
    animation-direction: alternate-reverse;
    width: 100%;
  }
  #top-rated .container2 .box-card .moving-part:hover {
    animation-play-state: paused;
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-350px);
    -moz-transform: translateX(-350px);
    transform: translateX(-350px);
  }
}
#top-rated .container2 .box-card article {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EFEFEF;
  margin-bottom: 20px;
  padding: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
@media (min-width: 992px) {
  #top-rated .container2 .box-card article {
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
#top-rated .container2 .box-card article img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
}
#top-rated .container2 .box-card article h3 {
  font-size: 15px;
  margin-bottom: 6px;
}
#top-rated .container2 .box-card article small {
  color: #BB2525;
  font-size: 11px;
  margin-bottom: 20px;
  margin-bottom: 8px;
  display: block;
}
#top-rated .container2 .box-card article .article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #848484;
  font-size: 11px;
  font-weight: 600;
}
#top-rated .container2 .box-card article .rating {
  color: #ffa700d6;
  margin-right: 3px;
}
/* ####################### end top-rated ####################### */
/* ####################### start footer ####################### */
footer {
  padding-top: 70px;
  padding-bottom: 70px;
  border-top: 1px solid var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
}
footer .container2 {
  display: flex;
  flex-wrap: wrap;
}
footer .container2 .contact-footer {
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  footer .container2 .contact-footer {
    text-align: right;
    margin: 0;
  }
}
footer .container2 span {
  display: block;
  color: #525C60;
}
footer .container2 .about-gem {
  text-align: center;
  border-right: 1px solid #D4D4D4;
  border-left: 1px solid #D4D4D4;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 15px;
}
footer .container2 .about-gem .social {
  color: var(--mainColor);
}
footer .container2 .about-gem .social i {
  border: 10px solid #EFEFEF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
footer .container2 p {
  max-width: 543px;
}
footer .container2 .pages {
  padding-right: 25px;
  padding-left: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  footer .container2 .pages  {
    text-align: left;
    margin: 0;
  }
}
footer .container2 .pages a {
  display: block;
  color: #525C60;
}
.copy .container2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.copy .container2 p {
  margin-bottom: 0!important;
}
/* ####################### end footer ####################### */